/*
    BG: #4abdac
    Text: #DfDcE3
    h1: #fc4a1a
    h2: f7B733

*/
.datasetpage__image {
  max-width: 48rem;
}

.schema__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  border-radius: 3rem;
  border: solid 0.2rem #dfdce3;
  background-color: #4abdac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(30rem, 3rem);
}

.form__input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.advanced__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.advanced__button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 0.2rem #dfdce3;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2rem;
  width: 14rem;
  padding: 0.2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.green {
  background-color: #1afc3c;
  color: #464547;
}

.red {
  background-color: #fc1a1a;
  color: #dfdce3;
}

::placeholder {
  opacity: 0.8;
}

.datasetpage__input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.datasetpage__input {
  font-weight: 700;
  outline: none;
  font-size: 1.5rem;
  width: 20rem;
  border: solid 0.2rem #dfdce3;
  background-color: #4abdac;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #dfdce3;
  user-select: none;
  width: 25rem;
  text-align: center;
}

.margin-top {
  margin-top: 1.5rem;
}
.margin-bottom {
  margin-bottom: 0.5rem;
}
.datasetpage__button {
  cursor: pointer;
  background-color: #fc4b1a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dfdce3;
  border: solid 0.2rem #dfdce3;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2rem;
  width: 19rem;
  padding: 0.5rem;
}
.datasetpage__button__short {
  cursor: pointer;
  background-color: #fc4b1a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dfdce3;
  border: solid 0.2rem #dfdce3;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  margin-left: 1rem;
}
.features__para {
  text-align: center;
  width: 25rem;
}
.datasetpage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3rem;
  border: solid 0.2rem #dfdce3;
  background-color: #4abdac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50rem;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.wrapper {
  background-color: #4abdac;
  color: #dfdce3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  margin-top: 1rem;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-shadow: #0000002e 3px 3px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3rem;
  border: solid 0.2rem #dfdce3;
  background-color: #4abdac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60rem;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.row_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selector__button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #fc4a1a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dfdce3;
  border: solid 0.2rem #dfdce3;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 2rem;
  width: 17rem;
  padding: 0.5rem;
}

.language {
  margin-top: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: solid 0.2rem #dfdce3;
  background-color: #4abdac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 25rem;
  font-weight: 700;
  font-size: 1.5rem;
}

/*

    SELECT BOX STYLING

*/
/*
    BG: #4abdac
    Text: #DfDcE3
    h1: #fc4a1a
    h2: f7B733

*/
.selectBox__wrapper {
  background-color: #4abdac;
  position: relative;
  color: #dfdce3;
  border: solid 0.2rem #dfdce3;
  font-size: 2rem;
}
.selectBox__wrapper__desktop {
  width: 25rem;
}
.selectBox__container {
  width: 100%;
  min-width: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.selectBox__text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 1rem;
}
.selectBox__arrow {
  transform: rotate(-90deg);
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 1rem;
  transition: all 0.5s ease;
}
.selectBox__arrow__rotate {
  transform: rotate(-270deg);
}
.selectBox__selections {
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  margin-right: 1rem;
  transition: all 0.5s ease;
}
.selectBox__selections :nth-child(1) {
  margin-top: 0.2rem;
}
.selectBox__selections__desktop {
  width: 25rem;
  transform: translateY(1rem) translateX(-0.2rem);
}
.selectBox__selections__mobile {
  width: 15rem;
  transform: translateY(1rem) translateX(-5.1rem);
}
.selectBox__selections__visible {
  transition: all 0.5s ease;
  visibility: visible;
  background-color: #dfdce3;
}
.selectBox__option {
  background-color: transparent;
  color: transparent;
  visibility: hidden;
  transition: all 0.5s ease;
  margin-bottom: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.selectBox__option__visible {
  transition: all 0.5s ease;
  visibility: visible;
  background-color: #4abdac;
  color: #dfdce3;
}
.selectBox__option__visible:hover {
  background-color: #dfdce3;
  color: #4abdac;
}
.selectBox__option__desktop {
  height: 2.3rem;
  width: 98.5%;
  transform: translateX(0.2rem);
}
.selectBox__option__mobile {
  width: 97%;
  height: 3rem;
  transform: translateX(0.19rem);
} /*# sourceMappingURL=index.css.map */
/*

    LOADING SPINNER STYLING

*/

.loadingSpinner {
  margin-top: 3rem;
  margin-left: 5rem;
  display: inline-block;
  position: relative;
  width: 16rem;
  height: 16rem;
}
.loadingSpinner div {
  transform-origin: 80px 80px;
  animation: loadingSpinner 1.2s linear infinite;
}
.loadingSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 6px;
  left: 74px;
  width: 12px;
  height: 36px;
  border-radius: 40%;
  background: #fc4a1a;
}
.loadingSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loadingSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loadingSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loadingSpinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loadingSpinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loadingSpinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loadingSpinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loadingSpinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loadingSpinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loadingSpinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loadingSpinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loadingSpinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loadingSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
